body {
    background-color: #000000;
    color: #ff0000;
    font-family: Arial, sans-serif;
    margin: 0;
}



header {
    background-color: #e60000;
    color: black;
    text-align: center;
    padding: 30px;
}



h1 {
    font-size: 35px;
}



h2 {
    color: #e60000;
}



p {
    font-size: 20px;
    line-height: 1.6;
}



nav {
    margin-top: 20px;
}



nav a {
    color: white;
    text-decoration: none;
    background-color: #000000;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}



nav a:hover {
    background-color: #b30000;
}



main {
    width: 80%;
    margin: auto;
}



section {
    background-color: #000000;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px white;
}



img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}



figcaption {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 8px;
}



.card {
    display: block;
    background-color: #000000;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #e60000;
    border-radius: 10px;
}



.card h3 {
    margin-top: 0;
    color: #b30000;
}



footer {
    background-color: rgba(228, 5, 5, 0.932);
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}