body {
  background-color: #f4flea;
  color: #222222;
  font-family: Arial, sans-serif;
}

header { 
  background-color: hsla(0, 100%, 50%, 0.986);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 30px;
}

hl {
  font-size: 36px;
}

h2 {
  color: #ff0000;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

main {
  width: 80%;
  margin: auto;
}

section {
  background-color: rgb(0, 0, 0);
  margin: 20px 0;
  padding: 20px;
  border-radius: 12px;
}

img {
  width: 100% ;
  max-width: 600px;
  display: block;
  margin: auto;
  border-radius: 12px;
}

figcaption {
  text-align: center;
  font-size: 14px;
  color: #555555
  margin-top: 8px;
}



